* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.footer {
  width: 100%;
  background-color: #b6cadf;
  text-align: center;
  padding: 40px;
  font-size: 16px;
  color: #2c3e50;
  font-family: "Inter", sans-serif;
}

.induk {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* biar responsif kalau terlalu sempit */
  gap: 20px; /* beri jarak antar item */
  list-style: none;
}

ul,
li {
  list-style: none; /* Menghilangkan bullet (titik) pada list */
  padding: 0; /* Menghilangkan padding default pada ul */
  margin: 0; /* Menghilangkan margin default pada ul */
}

ul,
li a {
  text-decoration: none;
  color: rgb(95, 99, 104);
  text-align: left;
}
.induk h4 {
  text-align: left;
}

.header-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  display: flex;
  gap: 16px;
  margin-top: 100px;
}

.icon i {
  font-size: 30px;
  gap: 20px;
}

.logo img {
  height: 100;
  width: 200;
}
.bank-bri img {
  height: 70;
  width: 150;
}
